*.log
.*.swp
.coverage
coverage-report.log
tests/error_occurred
**/*.pyc
*libblockdev*.tar.gz
src/lib/plugin_apis/*.[ch]
src/plugins/.dirstamp
BlockDev-*.gir
BlockDev-*.typelib
Makefile
Makefile.in
aclocal.m4
ar-lib
compile
py-compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
autom4te.cache/
missing
src/lib/.deps/
src/lib/blockdev.c
src/lib/blockdev.pc
src/utils/blockdev-utils.pc
**/*.deps
**/*.libs
**/*.la
**/*.lo
**/*.o
**/Makefile
**/Makefile.in
**/*.stamp
**/*.bak
include/blockdev/*.h
include/blockdev/fs
docs/libblockdev-decl-list.txt
docs/libblockdev-decl.txt
docs/libblockdev-overrides.txt
docs/libblockdev-undeclared.txt
docs/libblockdev-undocumented.txt
docs/libblockdev-unused.txt
docs/libblockdev.types
docs/xml/
docs/html/
docs/libblockdev-docs.xml
dist/libblockdev.spec
tools/lvm-cache-stats
tools/vfat-resize
misc/.vagrant
