.*.swp
**/*.o
**/*.so
**/*.pyc
src/lib/plugin_apis/*.[ch]
src/lib/test_library
src/plugins/test_loop
src/plugins/test_lvm
src/plugins/test_swap
src/utils/test_sizes
BlockDev-1.0.gir
BlockDev-1.0.typelib
